body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.name {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffe807;
  font-family: "Droid Sans", sans-serif;
  font-size: 150px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  user-select: none;
}

.mname {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffe807;
  font-family: "Droid Sans", sans-serif;
  font-size: 150px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  user-select: none;
}

.surname {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffe807;
  font-family: "Droid Sans", sans-serif;
  font-size: 150px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  user-select: none;
}

.github-link {
  position: absolute;
  top: 70%;
  left: 44%;
  font-family: "Days One", sans-serif;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  font-size: 18px;
  user-select: none;
}

.linkedin-link {
  position: absolute;
  top: 70%;
  left: 48%;
  font-family: "Days One", sans-serif;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  font-size: 18px;
  user-select: none;
}

.mail-link {
  position: absolute;
  top: 70%;
  left: 53%;
  font-family: "Days One", sans-serif;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  font-size: 18px;
  user-select: none;
}
